/* Css Style For The New Seed Credit Plugin in Frontpage Starts here */

.nsc-plugin-name {
  color: forestgreen;
  font-weight: 700;
}
.post-96 {
    border: 4px solid black;
    border-radius: 6px;
    padding: 35px;
    background: url(../img/logo-newseed-2401.png);
    background-repeat: no-repeat;
    background-position: 99% 98%;
    background-size: 260px 120px;
    background-origin: border-box;
}
/* Css Style For The New Seed Credit Plugin in Frontpage Ends here */


/* Css Style For The New Seed Credit Plugin in the Admin Settings Starts here */

.nsc-admin-form {
  border: 2px solid black;
  border-radius: 6px;
  background: url(../img/logo-newseed-2401.png);
  background-repeat: no-repeat;
  background-position: 99% 98%;
  background-size: 260px 120px;
  background-origin: border-box;
  background-color: #D3F0F0;
}

.nsc-admin-form h2 {
  text-align:center;
  color: #4CAF50;
}

.nsc-plugin-name-admin {
  font-weight: 600;
  font-size: 12px;
  color: forestgreen;
}

.nsc-save-btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.nsc-save-btn:hover {background-color: #3e8e41}

.nsc-save-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#wpcontent {
  padding: 5px;
}

/* Css Style For The New Seed Credit Plugin in the Admin Settings Ends here */
